<% content_for :title, "admin page" %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Welcome <%= @admin.email %></h1>

<%= link_to "Log out", logout_admin_path, class: "btn btn-default" %>