<% content_for :title, "documentation" %>

<h1>Welcome to Trophy - DOCS</h1>

<p>Check these docs when you have questions about how to use the API</p>
<p>...to be continued</p>

<%= link_to "Go back", root_path, class: "btn btn-default" %>